.Body {
    margin-top: 5px;
}
.portcard {
    border: 5px solid #343a40; 
    /* overflow: auto !important; */
    margin: 10px;
  }

  .portImg {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 95% !important;
    overflow: auto !important;
    border: 3px solid white;
  }

  .projecttext {
    text-align: center;
    font-size: 18px;
  }